.products-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    border: 2px solid #0f0;
    border-radius: 10px;
    margin: 0 0 10px 35px;
    padding: 10px; /* Espaciado interno reducido */
    width: calc(200px - 20px);; /* Ancho fijo para cada tarjeta */
    height: 280px; /* Altura automática para ajustarse al contenido */
   
}

.image-container{
    margin:0 0 0 35px;
    width: 90%;
    height:auto;
    text-align: center;
    
}

.image-container img{
    width: 70%;
    height: 180px;
    display: block;
    align-items: center;
    border-radius: 5px;
    
}

.descripcion{
    color: white;
    text-align: center;
    margin: 10px 0;
}

.card-cantainer--value p{
    text-align: center;
    color: white;
    margin: 5px;
}

.delete-button{
    background-color: #222;
    margin: auto;
}
.delete-button img{
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 736px) {
    .main-container{
        width: 95%;
        display: flex;
        align-items: center;
        margin: 0 0 0 5px;
    }
}
