nav {
    position: absolute;
    top: 55px; 
    right: 35px; 
    font-family: 'Courier New', Courier, monospace; 
    background-color: #222; 
    border: 2px solid #0f0; 
    border-radius: 8px; 
    padding: 10px 20px; 
    
}

nav ul {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Disposición horizontal */
    gap: 15px; /* Espacio entre los elementos */
}

/* Estilo de los elementos de la lista */
nav ul li {
    color: #0f0; 
    cursor: pointer; 
    transition: color 0.3s ease; 
}

/* Efecto hover para los elementos de la lista */
nav ul li:hover {
    color: #fff; 
}